.product{
    display: flex;
   margin-right: 10px;
   margin-bottom: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid lightgray;
}

.product h2{
    color: blue;
    font-weight: 400;
}

.main-btn{
background-color: goldenrod;
width: 150px;
height: 30px;
border: 1px solid gray;
border-radius: 6px;
cursor: pointer;
}